body {
    margin: 0;
    padding: 0;
}

.a {
    margin: 0;
    padding: 0;
    background-color: rgb(201, 201, 201);
}

.b {
    margin: 0;
    padding: 20px 150px 20px 70px;
    color: blue;

    display: inline-block;
}

.c {
    list-style: none;
    display: inline-block;
}

.c li {
    display: inline-block;
    margin: 20px;

    box-sizing: border-box;
    height: 20px;
}


.c li:hover {
    color: blue;
    cursor: pointer;

    border-bottom: 2px solid blue;
    /* border-style: ; */
}





.btn {
    margin-left:400px;
    padding: 10px 15px;
    background-color: blue;
    color: white;

    border: 0;
    border-radius: 5px;
}